.floating_button {
    display: flex;  
    width:100%;   
    border:1px solid #3D64FD;
    border-radius: 8px;  
    padding:10px;  
    align-items: center;
}   
.button_text {
    flex:20;
    text-align: center;  
    font-size: 1.5em;
} 
 .number_task {
    flex:1;
    background-color: #E5F1FF;
    border-radius: 1000px;  
    padding:10px;
    color: #3D64FD; 
    font-style: bold; 
    font-weight: bolder;
    text-align: center;
 }

 .green{
    color:#B6FA9C
 }

 .red{
    color:#FE9394

 }
 .blue{
    color:#3D64FD;
 }